# 首先：忽略所有文件和文件夹
*
# 然后：取消忽略必要的目录结构
!*/

# 取消忽略 .git 目录
!/.git/

# 取消忽略 .vscode/ 目录及其内容
!/.vscode/
# 确保 .vscode/ 文件夹里的所有文件不被忽略
!/.vscode/**

# 取消忽略 .clinerules/ 目录及其内容
!.clinerules/
# 确保 .clinerules/ 文件夹里的所有文件不被忽略
!.clinerules/**

# 取消忽略 bin/ 目录及其内容
!bin/
# 确保 bin/ 文件夹里的所有文件不被忽略
!bin/**

# 取消忽略 build/ 目录及其内容
!build/
# 确保 build/ 文件夹里的所有文件不被忽略
!build/**

# 取消忽略 docs/ 目录及其内容
!docs/
# 确保 docs/ 文件夹里的所有文件不被忽略
!docs/**

# 取消忽略 examples/ 目录及其内容
!examples/
# 确保 examples/ 文件夹里的所有文件不被忽略
!examples/**

# 取消忽略 scripts/ 目录及其内容
!scripts/
# 确保 scripts/ 文件夹里的所有文件不被忽略
!scripts/**

# 取消忽略 src/ 目录及其内容
!/src/
# 确保 src/ 文件夹里的所有文件不被忽略
!/src/**

# 取消忽略 tests/ 目录及其内容
!/tests/
# 确保 tests/ 文件夹里的所有文件不被忽略
!/tests/**

# 取消忽略tools/ 目录及其内容
!/tools/
# 确保 tools/ 文件夹里的所有文件不被忽略
!/tools/**

# 取消忽略 vscode-cn-language/ 目录及其内容
!/vscode-cn-language/
# 确保 vscode-cn-language/ 文件夹里的所有文件不被忽略
!/vscode-cn-language/**

#############################################################################################################
# 取消忽略 .gitignore 文件本身
!/.gitignore
# 取消忽略"README.md"文件本身
!/README.md


#############################################################################################################
