# 首先：忽略所有文件和文件夹
*
# 然后：取消忽略必要的目录结构
!*/

# 取消忽略 .git 目录
!/.git/

# 取消忽略 build/ 目录及其内容
!build/
# 确保 build/ 文件夹里的所有文件不被忽略
!build/**

# 取消忽略 examples/ 目录及其内容
!examples/
# 确保 examples/ 文件夹里的所有文件不被忽略
!examples/**

# 取消忽略 include/ 目录及其内容
#include/
# 确保 include/ 文件夹里的所有文件不被忽略
#include/**

# 取消忽略 src/ 目录及其内容
!/src/
# 确保 src/ 文件夹里的所有文件不被忽略
!/src/**

# 取消忽略 tests/ 目录及其内容
!/tests/
# 确保 tests/ 文件夹里的所有文件不被忽略
!/tests/**

#############################################################################################################
# 取消忽略 .gitignore 文件本身
!/.gitignore
# 取消忽略"README.md"文件本身
!/README.md
# 取消忽略"CMakeLists.txt"文件本身
!/CMakeLists.txt
# 取消忽略".dockerignore"文件本身
!/dockerignore
# 取消忽略"docker_run.ps1"文件本身
!/docker_run.ps1
# 取消忽略"docker-compose.yml"文件本身
!/docker-compose.yml
# 取消忽略"Dockerfile"文件本身
!/Dockerfile

#############################################################################################################
